@font-face {
  font-family: 'Druk Wide Bold';
  src: url("../fonts/Druk-Wide-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Druk Wide Medium';
  src: url("../fonts/Druk Wide Medium.woff2") format('woff2');
}
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url("../fonts/SF-Pro-Display-Medium.woff") format('woff');
}
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url("../fonts/SF-Pro-Display-Semibold.woff") format('woff');
}